<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>


    </style>
</head>
<body>
<h1>Foxtrot</h1>
<div id="search">
    <input type="text" v-model="searchTerm" placeholder="Try 'Skeeter Falls'">
    <button v-on:click="search(searchTerm)">Search</button>
    <section v-if="errored">
        <p>Something's not working...</p>
    </section>
    <section v-if="found">
        <div
            v-for="date in info.comics"
            class="render_comic"
        >
            <p v-html=renderComic(date)></p>
        </div>
        <button v-on:click="search(searchTerm, info.current_page - 1)">Previous</button>
        <button v-on:click="search(searchTerm, info.current_page + 1)">Next</button>
    </section>
</div>
<script src="character_search_copy.js"></script>
</body>
</html>