<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/vuejs-paginate@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<h1>Foxtrot</h1>
<div id="search">
    <input type="text" v-model="searchTerm" placeholder="Try 'Skeeter Falls'">
    <button v-on:click="search(searchTerm)">Search</button>
    <section v-if="errored">
        <p>Something's not working...</p>
    </section>
    <section v-if="found">
        <div
                v-for="date in info.comics"
                class="render_comic"
        >
            <p v-html=renderComic(date)></p>
        </div>
        <paginate
                :page-count="3"
                :click-handler="clickCallback"
                :prev-text="'Prev'"
                :next-text="'Next'"
                :container-class="'pagination'">
        </paginate>
        <button v-on:click="search(searchTerm, info.current_page - 1)">Previous</button>
        <button v-on:click="search(searchTerm, info.current_page + 1)">Next</button>
    </section>
</div>
<script src="search.js"></script>
</body>
</html>
